In [2]:
%cd ..

/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer

In [142]:
!python -m swissql -h

usage: swissql [-h] -q Q -f F [-x] [-s S] [-F F]
               [-o {optimize,normalize,eliminate_subqueries,expand_multi_table_selects,isolate_table_selects,optimize_joins,pushdown_predicates,pushdown_projections,qualify_tables,qualify_columns,quote_identities,unnest_subqueries}]
               [-r R] [-c {syntax,format,optimize,style,anti_pattern,rule}]
               [--rules-sqlfluff RULES_SQLFLUFF] [--dialect DIALECT]
               [--output-mode {str,json}]
               {syntax,format,optimize,style,anti_pattern,rule,all,construct}

Spark SQL analytic engine

positional arguments:
  {syntax,format,optimize,style,anti_pattern,rule,all,construct}
                        mode of operation

optional arguments:
  -h, --help            show this help message and exit
  -q Q                  specify SQL query
  -f F                  specify file to read SQL query from
  -x                    specify if queries should be extracted from source
                        files
  -s S                  specify schema: Schema is a mapping in one of the
                        following forms: 1. {table: {col: type}} 2. {db:
                        {table: {col: type}}} 3. {catalog: {db: {table: {col:
                        type}}}} Example types: INT, STRING
  -F F                  specify schema file to read schema from
  -o {optimize,normalize,eliminate_subqueries,expand_multi_table_selects,isolate_table_selects,optimize_joins,pushdown_predicates,pushdown_projections,qualify_tables,qualify_columns,quote_identities,unnest_subqueries}
                        specify optimizers
  -r R                  specify rule files as list
  -c {syntax,format,optimize,style,anti_pattern,rule}
                        specify modes for analysis constructor
  --rules-sqlfluff RULES_SQLFLUFF
                        specify rules file for sqlfluff
  --dialect DIALECT     specify sqlfluff dialect
  --output-mode {str,json}
                        specify output format

In [5]:
# Общий случай - использование всех модулей
!python -m swissql all -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Analyzing query: SELECT * from x join y on x.id = y.id where x.id > 2]
[Generating syntax tree using sqlglot]
(SELECT expressions:
  (STAR ), from:
  (FROM expressions:
    (TABLE this:
      (IDENTIFIER this: x, quoted: False))), joins:
  (JOIN this:
    (TABLE this:
      (IDENTIFIER this: y, quoted: False)), on:
    (EQ this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: y, quoted: False)))), where:
  (WHERE this:
    (GT this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (LITERAL this: 2, is_string: False))))

[Formatting sql query using sqlglot]
SELECT
  *
FROM x
JOIN y
  ON x.id = y.id
WHERE
  x.id > 2

[Optimizing sql query using sqlglot]
Optimization: optimize
SELECT
  "x"."id" AS "id",
  "x"."name" AS "name",
  "y"."id" AS "id",
  "y"."name" AS "name"
FROM (
  SELECT
    "x"."id" AS "id",
    "x"."name" AS "name"
  FROM "x" AS "x"
  WHERE
    "x"."id" > 2
) AS "x"
JOIN (
  SELECT
    "y"."id" AS "id",
    "y"."name" AS "name"
  FROM "y" AS "y"
) AS "y"
  ON "x"."id" = "y"."id"

[Style sql query use sqlfluff]
/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/analyzers/style/intermediate.sql
== [/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/analyzers/style/intermediate.sql] FAIL
L:   1 | P:   1 | L044 | Query produces an unknown number of result columns.
L:   1 | P:   8 | L027 | Unqualified reference '*' found in select with more than
                       | one referenced table/view.
L:   1 | P:  10 | L010 | Keywords must be consistently upper case.
L:   1 | P:  17 | L010 | Keywords must be consistently upper case.
L:   1 | P:  17 | L051 | Join clauses should be fully qualified.
L:   1 | P:  24 | L010 | Keywords must be consistently upper case.
L:   1 | P:  39 | L010 | Keywords must be consistently upper case.
L:   1 | P:  53 | L009 | Files must end with a single trailing newline.
All Finished!


[Detecting anti-patterns using sqlcheck]
sh: 1: sqlcheck: not found
swissql: error: sqlcheck not found in system

[Finding rules using lark]
swissql: error: no rule specified

In [145]:
# Используем construst для вывода нескольких модулей сразу
!python -m swissql construct -c style -c format -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Analyzing query: SELECT * from x join y on x.id = y.id where x.id > 2]
[Style sql query use sqlfluff]
/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/analyzers/style/intermediate.sql
== [/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/analyzers/style/intermediate.sql] FAIL
L:   1 | P:   1 | L044 | Query produces an unknown number of result columns.
L:   1 | P:   8 | L027 | Unqualified reference '*' found in select with more than
                       | one referenced table/view.
L:   1 | P:  10 | L010 | Keywords must be consistently upper case.
L:   1 | P:  17 | L010 | Keywords must be consistently upper case.
L:   1 | P:  17 | L051 | Join clauses should be fully qualified.
L:   1 | P:  24 | L010 | Keywords must be consistently upper case.
L:   1 | P:  39 | L010 | Keywords must be consistently upper case.
L:   1 | P:  53 | L009 | Files must end with a single trailing newline.
All Finished!


[Formatting sql query using sqlglot]
SELECT
  *
FROM x
JOIN y
  ON x.id = y.id
WHERE
  x.id > 2

In [80]:
# Использование файла запроса и json файла схемы
!python -m swissql all -f examples/example0.sql -F examples/example0.schema.json -o optimize

[Generating syntax tree using sqlglot]
(SELECT expressions:
  (COLUMN this:
    (IDENTIFIER this: id, quoted: False), table:
    (IDENTIFIER this: x, quoted: False)),
  (COLUMN this:
    (IDENTIFIER this: name, quoted: False), table:
    (IDENTIFIER this: x, quoted: False)),
  (COLUMN this:
    (IDENTIFIER this: name, quoted: False), table:
    (IDENTIFIER this: y, quoted: False)), from:
  (FROM expressions:
    (TABLE this:
      (IDENTIFIER this: x, quoted: False))), joins:
  (JOIN this:
    (TABLE this:
      (IDENTIFIER this: y, quoted: False)), on:
    (EQ this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: y, quoted: False)))), where:
  (WHERE this:
    (GT this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (LITERAL this: 2, is_string: False))))

[Formatting sql query using sqlglot]
SELECT
  x.id,
  x.name,
  y.name
FROM x
JOIN y
  ON x.id = y.id
WHERE
  x.id > 2

[Optimizing sql query using sqlglot]
Optimization: optimize
SELECT
  "x"."id" AS "id",
  "x"."name" AS "name",
  "y"."name" AS "name"
FROM (
  SELECT
    "x"."id" AS "id",
    "x"."name" AS "name"
  FROM "x" AS "x"
  WHERE
    "x"."id" > 2
) AS "x"
JOIN (
  SELECT
    "y"."id" AS "id",
    "y"."name" AS "name"
  FROM "y" AS "y"
) AS "y"
  ON "x"."id" = "y"."id"

[Style sql query use sqlfluff]
== [examples/example0.sql] FAIL
L:   1 | P:   1 | L036 | Select targets should be on a new line unless there is
                       | only one select target.
L:   1 | P:  29 | L010 | Keywords must be consistently upper case.
L:   1 | P:  36 | L010 | Keywords must be consistently upper case.
L:   1 | P:  36 | L051 | Join clauses should be fully qualified.
L:   1 | P:  43 | L010 | Keywords must be consistently upper case.
L:   1 | P:  58 | L010 | Keywords must be consistently upper case.
L:   1 | P:  72 | L009 | Files must end with a single trailing newline.
All Finished!


[Detecting anti-patterns using sqlcheck]
sqlcheck version 1.2.1
Debug build (NDEBUG not #defined)
+-------------------------------------------------+
|                   SQLCHECK                      |
+-------------------------------------------------+
> RISK LEVEL    :: ALL ANTI-PATTERNS
> SQL FILE NAME :: examples/example0.sql
> COLOR MODE    :: ENABLED
> VERBOSE MODE  :: ENABLED
> DELIMITER     :: ;
-------------------------------------------------
==================== Results ===================
No issues found.


[Finding rules using lark]
swissql: error: no rule specified

In [127]:
# Использование отдельного модуля - Syntax
!python -m swissql syntax -q "SELECT * from x join y on x.id = y.id where x.id > 2"

[Generating syntax tree using sqlglot]
(SELECT expressions:
  (STAR ), from:
  (FROM expressions:
    (TABLE this:
      (IDENTIFIER this: x, quoted: False))), joins:
  (JOIN this:
    (TABLE this:
      (IDENTIFIER this: y, quoted: False)), on:
    (EQ this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: y, quoted: False)))), where:
  (WHERE this:
    (GT this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (LITERAL this: 2, is_string: False))))

In [28]:
# Использование отдельного модуля - Formatting
!python -m swissql format -q "SELECT * from x join y on x.id = y.id where x.id > 2"

[Formatting sql query using sqlglot]
SELECT
  *
FROM x
JOIN y
  ON x.id = y.id
WHERE
  x.id > 2

In [29]:
# Использование отдельного модуля - Style
!python -m swissql style -q "SELECT * from x join y on x.id = y.id where x.id > 2"

[Style sql query use sqlfluff]
/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/analyzers/style/intermediate.sql
== [/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/analyzers/style/intermediate.sql] FAIL
L:   1 | P:   1 | L044 | Query produces an unknown number of result columns.
L:   1 | P:   8 | L027 | Unqualified reference '*' found in select with more than
                       | one referenced table/view.
L:   1 | P:  10 | L010 | Keywords must be consistently upper case.
L:   1 | P:  17 | L010 | Keywords must be consistently upper case.
L:   1 | P:  17 | L051 | Join clauses should be fully qualified.
L:   1 | P:  24 | L010 | Keywords must be consistently upper case.
L:   1 | P:  39 | L010 | Keywords must be consistently upper case.
L:   1 | P:  53 | L009 | Files must end with a single trailing newline.
All Finished!

In [30]:
# Использование отдельного модуля - Anti_Pattern
!python -m swissql anti_pattern -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Detecting anti-patterns using sqlcheck]
sqlcheck version 1.2.1
Debug build (NDEBUG not #defined)
+-------------------------------------------------+
|                   SQLCHECK                      |
+-------------------------------------------------+
> RISK LEVEL    :: ALL ANTI-PATTERNS
> SQL FILE NAME :: temp.sql
> COLOR MODE    :: ENABLED
> VERBOSE MODE  :: ENABLED
> DELIMITER     :: ;
-------------------------------------------------
==================== Results ===================

-------------------------------------------------
SQL Statement at line 1: select * from x join y on x.id = y.id where x.id > 2;
[temp.sql]: (HIGH RISK) SELECT *
● Inefficiency in moving data to the consumer:
When you SELECT *, you're often retrieving more columns from the database than
your application really needs to function. This causes more data to move from
the database server to the client, slowing access and increasing load on your
machines, as well as taking more time to travel across the network. This is
especially true when someone adds new columns to underlying tables that didn't
exist and weren't needed when the original consumers coded their data access.


● Indexing issues:
Consider a scenario where you want to tune a query to a high level of
performance. If you were to use *, and it returned more columns than you
actually needed, the server would often have to perform more expensive methods
to retrieve your data than it otherwise might. For example, you wouldn't be able
to create an index which simply covered the columns in your SELECT list, and
even if you did (including all columns [shudder]), the next guy who came around
and added a column to the underlying table would cause the optimizer to ignore
your optimized covering index, and you'd likely find that the performance of
your query would drop substantially for no readily apparent reason.

● Binding
Problems:
When you SELECT *, it's possible to retrieve two columns of the same name from
two different tables. This can often crash your data consumer. Imagine a query
that joins two tables, both of which contain a column called "ID". How would a
consumer know which was which? SELECT * can also confuse views (at least in some
versions SQL Server) when underlying table structures change -- the view is not
rebuilt, and the data which comes back can be nonsense. And the worst part of it
is that you can take care to name your columns whatever you want, but the next
guy who comes along might have no way of knowing that he has to worry about
adding a column which will collide with your already-developed names.
[Matching Expression: select * at line 1]


==================== Summary ===================
All Anti-Patterns and Hints  :: 1
>  High Risk   :: 1
>  Medium Risk :: 0
>  Low Risk    :: 0
>  Hints       :: 0

In [128]:
# Использование отдельного модуля - Optimize
!python -m swissql optimize -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Optimizing sql query using sqlglot]
Optimization: optimize
SELECT
  "x"."id" AS "id",
  "x"."name" AS "name",
  "y"."id" AS "id",
  "y"."name" AS "name"
FROM (
  SELECT
    "x"."id" AS "id",
    "x"."name" AS "name"
  FROM "x" AS "x"
  WHERE
    "x"."id" > 2
) AS "x"
JOIN (
  SELECT
    "y"."id" AS "id",
    "y"."name" AS "name"
  FROM "y" AS "y"
) AS "y"
  ON "x"."id" = "y"."id"

In [33]:
# Поддержка подсветки ошибок в консоли
# Использование отдельного модуля - Optimize
!python -m swissql syntax -q "SELET *" -s '{"x":{"id":"}}'

[Generating syntax tree using sqlglot]
swissql: error: Spark SQL parse error

#### Использование пользовательских правил с помощью Lark и BNF файлов

In [73]:
!ls rules

filter1.lark  filter2.lark

In [74]:
!cat rules/filter2.lark

SELECT WILDCARD ANTIPATTERN :END_OF_COMMENT:
start: /./ start | pattern start | /./ | pattern
pattern: "SELECT *"i
%import common.INT
//%ignore " "
%ignore "\n"

In [72]:
# Использование отдельного модусля - Rules
!python -m swissql rule -r all -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Finding rules using lark]
Rule filter2.lark found:
Positions: (1, 1)
Comment: SELECT WILDCARD ANTIPATTERN

### Extract SQL from Python

In [88]:
import os
os.path.abspath('examples/example3.py')

'/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/examples/example3.py'

In [129]:
!cat examples/example3.py

# Example for extracting SQL from a file:

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType
from datetime import datetime, date
from pyspark.sql import Row

def init_spark():
    spark = SparkSession.builder.appName("HelloWorld").getOrCreate()
    sc = spark.sparkContext
    return spark, sc


# SQl Queries
sql_queries = [
    'SELECT * FROM table1;',
    'SELECT * FROM table1 WHERE id = 1;',
    'SELECT * FROM table1 WHERE id = 1 AND name = "John" OR name = "Jane" OR name = "Jack";',
]

def main():
    spark_sql_queries = [
        "SELECT * FROM table",
    ]


    spark, sc = init_spark()
    df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
    ])
    df.createOrReplaceGlobalTempView("tableA")
    spark.sql("select * from tableA").show()


if __name__ == "__main__":
    main()

In [125]:
# Использование отдельного модуля - Swissql extractor
!python -m swissql extract -f examples/example3.py

[Extracting Spark SQLs from file using lark]
Found:
SELECT * FROM table1
SELECT * FROM table1 WHERE id = 1
SELECT * FROM table1 WHERE id = 1 AND name = "John" OR name = "Jane" OR name = "Jack"
SELECT * FROM table
select * from tableA

In [ ]:
# Использование отдельного модуля - Swissql extractor
import swissql
from swissql.analyzers.rule_checker.sql_finder import SqlFinder
SqlFinder.initialize()
print(SqlFinder.extract_sql_from_file('examples/example3.py'))

In [6]:
# Больше запросов!
!cat examples/example4.sql

SELECT startDate, endDate,
  DATEDIFF( endDate, startDate ) AS diff_days,
  CAST( months_between( endDate, startDate ) AS INT ) AS diff_months
from yourTable
ORDER BY 1;

In [10]:
!python -m swissql all -f examples/example4.sql -s '{"yourTable":{"startDate":"DATETIME", "endDate":"DATETIME"}}' -o optimize

[Analyzing query: SELECT startDate, endDate,
  DATEDIFF( endDate, startDate ) AS diff_days,
  CAST( months_between( endDate, startDate ) AS INT ) AS diff_months
from yourTable
ORDER BY 1]
[Generating syntax tree using sqlglot]
(SELECT expressions:
  (COLUMN this:
    (IDENTIFIER this: startDate, quoted: False)),
  (COLUMN this:
    (IDENTIFIER this: endDate, quoted: False)),
  (ALIAS this:
    (DATEDIFF this:
      (TSORDSTODATE this:
        (COLUMN this:
          (IDENTIFIER this: endDate, quoted: False))), expression:
      (TSORDSTODATE this:
        (COLUMN this:
          (IDENTIFIER this: startDate, quoted: False)))), alias:
    (IDENTIFIER this: diff_days, quoted: False)),
  (ALIAS this:
    (TRYCAST this:
      (ANONYMOUS this: MONTHS_BETWEEN, expressions:
        (COLUMN this:
          (IDENTIFIER this: endDate, quoted: False)),
        (COLUMN this:
          (IDENTIFIER this: startDate, quoted: False))), to:
      (DATATYPE this: Type.INT, nested: False)), alias:
    (IDENTIFIER this: diff_months, quoted: False)), from:
  (FROM expressions:
    (TABLE this:
      (IDENTIFIER this: yourTable, quoted: False))), order:
  (ORDER expressions:
    (ORDERED this:
      (LITERAL this: 1, is_string: False))))

[Formatting sql query using sqlglot]
SELECT
  startDate,
  endDate,
  DATEDIFF(endDate, startDate) AS diff_days,
  CAST(MONTHS_BETWEEN(endDate, startDate) AS INT) AS diff_months
FROM yourTable
ORDER BY
  1

[Optimizing sql query using sqlglot]
Optimization: optimize
SELECT
  "yourTable"."startDate" AS "startDate",
  "yourTable"."endDate" AS "endDate",
  DATE_DIFF(TS_OR_DS_TO_DATE("yourTable"."endDate"), TS_OR_DS_TO_DATE("yourTable"."startDate")) AS "diff_days",
  TRY_CAST(MONTHS_BETWEEN("yourTable"."endDate", "yourTable"."startDate") AS INT) AS "diff_months"
FROM "yourTable" AS "yourTable"
ORDER BY
  1

[Style sql query use sqlfluff]
== [examples/example4.sql] FAIL
L:   1 | P:   1 | L036 | Select targets should be on a new line unless there is
                       | only one select target.
L:   1 | P:   8 | L014 | Unquoted identifiers must be consistently upper case.
L:   1 | P:  19 | L014 | Unquoted identifiers must be consistently upper case.
L:   1 | P:  27 | L001 | Unnecessary trailing whitespace.
L:   2 | P:   3 | L003 | Expected 1 indentations, found 0 [compared to line 01]
L:   2 | P:  13 | L014 | Unquoted identifiers must be consistently upper case.
L:   2 | P:  22 | L014 | Unquoted identifiers must be consistently upper case.
L:   2 | P:  37 | L014 | Unquoted identifiers must be consistently upper case.
L:   3 | P:   3 | L003 | Expected 1 indentations, found 0 [compared to line 01]
L:   3 | P:   9 | L030 | Function names must be consistently upper case.
L:   3 | P:  25 | L014 | Unquoted identifiers must be consistently upper case.
L:   3 | P:  34 | L014 | Unquoted identifiers must be consistently upper case.
L:   3 | P:  58 | L014 | Unquoted identifiers must be consistently upper case.
L:   3 | P:  69 | L001 | Unnecessary trailing whitespace.
L:   4 | P:   1 | L010 | Keywords must be consistently upper case.
L:   4 | P:   6 | L014 | Unquoted identifiers must be consistently upper case.
L:   5 | P:  11 | L009 | Files must end with a single trailing newline.
All Finished!


[Detecting anti-patterns using sqlcheck]
sqlcheck version 1.2.1
Debug build (NDEBUG not #defined)
+-------------------------------------------------+
|                   SQLCHECK                      |
+-------------------------------------------------+
> RISK LEVEL    :: ALL ANTI-PATTERNS
> SQL FILE NAME :: examples/example4.sql
> COLOR MODE    :: ENABLED
> VERBOSE MODE  :: ENABLED
> DELIMITER     :: ;
-------------------------------------------------
==================== Results ===================
No issues found.


[Finding rules using lark]
swissql: error: no rule specified

In [136]:
!cat examples/example5.sql

SELECT
    CASE WHEN id = 1
         THEN "OneOrMA"
         ELSE
             CASE WHEN state = 'MA' THEN "OneOrMA" ELSE "NotOneOrMA" END
    END AS IdRedux
FROM customer

In [139]:
!python -m swissql all -f examples/example5.sql -s '{"customer":{"id":"INT", "state":"STRING"}}' -o optimize

[Analyzing query: SELECT
    CASE WHEN id = 1
         THEN "OneOrMA"
         ELSE
             CASE WHEN state = 'MA' THEN "OneOrMA" ELSE "NotOneOrMA" END
    ENd AS IdRedux
FROM customer]
[Generating syntax tree using sqlglot]
(SELECT expressions:
  (ALIAS this:
    (CASE ifs:
      (IF this:
        (EQ this:
          (COLUMN this:
            (IDENTIFIER this: id, quoted: False)), expression:
          (LITERAL this: 1, is_string: False)), true:
        (LITERAL this: OneOrMA, is_string: True)), default:
      (CASE ifs:
        (IF this:
          (EQ this:
            (COLUMN this:
              (IDENTIFIER this: state, quoted: False)), expression:
            (LITERAL this: MA, is_string: True)), true:
          (LITERAL this: OneOrMA, is_string: True)), default:
        (LITERAL this: NotOneOrMA, is_string: True))), alias:
    (IDENTIFIER this: IdRedux, quoted: False)), from:
  (FROM expressions:
    (TABLE this:
      (IDENTIFIER this: customer, quoted: False))))

[Formatting sql query using sqlglot]
SELECT
  CASE
    WHEN id = 1
    THEN 'OneOrMA'
    ELSE CASE
        WHEN state = 'MA'
        THEN 'OneOrMA'
        ELSE 'NotOneOrMA'
      END
  END AS IdRedux
FROM customer

[Optimizing sql query using sqlglot]
Optimization: optimize
SELECT
  CASE
    WHEN "customer"."id" = 1
    THEN 'OneOrMA'
    ELSE CASE
        WHEN "customer"."state" = 'MA'
        THEN 'OneOrMA'
        ELSE 'NotOneOrMA'
      END
  END AS "IdRedux"
FROM "customer" AS "customer"

[Style sql query use sqlfluff]
== [examples/example5.sql] FAIL
L:   1 | P:   1 | L036 | Select targets should be on a new line unless there is
                       | only one select target.
L:   2 | P:  21 | L001 | Unnecessary trailing whitespace.
L:   3 | P:  10 | L003 | Expected 3 indentations, found 2 [compared to line 02]
L:   4 | P:  10 | L003 | Expected 3 indentations, found 2 [compared to line 02]
L:   5 | P:  14 | L003 | Expected 3 indentations, found 3 [compared to line 02]
L:   5 | P:  14 | L058 | Nested 'CASE' statement in 'ELSE' clause could be
                       | flattened.
L:   5 | P:  32 | L064 | Inconsistent use of preferred quote style 'double
                       | quotes'. Use "MA" instead of 'MA'.
L:   6 | P:   5 | L010 | Keywords must be consistently upper case.
L:   6 | P:  12 | L014 | Unquoted identifiers must be consistently lower case.
L:   7 | P:  14 | L009 | Files must end with a single trailing newline.
All Finished!


[Detecting anti-patterns using sqlcheck]
sqlcheck version 1.2.1
Debug build (NDEBUG not #defined)
+-------------------------------------------------+
|                   SQLCHECK                      |
+-------------------------------------------------+
> RISK LEVEL    :: ALL ANTI-PATTERNS
> SQL FILE NAME :: examples/example5.sql
> COLOR MODE    :: ENABLED
> VERBOSE MODE  :: ENABLED
> DELIMITER     :: ;
-------------------------------------------------
==================== Results ===================
No issues found.


[Finding rules using lark]
swissql: error: no rule specified

In [141]:
!python -m swissql all -f examples/example6.sql -s '{"Accounts":{"first_name":"STRING", "middle_initial":"STRING","last_name":"STRING"}}' -o optimize

[Analyzing query: SELECT first_name || COALESCE(' ' || middle_initial || ' ', ' ') || last_name
AS full_name FROm Accounts]
[Generating syntax tree using sqlglot]
(SELECT expressions:
  (ALIAS this:
    (DPIPE this:
      (DPIPE this:
        (COLUMN this:
          (IDENTIFIER this: first_name, quoted: False)), expression:
        (COALESCE this:
          (DPIPE this:
            (DPIPE this:
              (LITERAL this:  , is_string: True), expression:
              (COLUMN this:
                (IDENTIFIER this: middle_initial, quoted: False))), expression:
            (LITERAL this:  , is_string: True)), expressions:
          (LITERAL this:  , is_string: True))), expression:
      (COLUMN this:
        (IDENTIFIER this: last_name, quoted: False))), alias:
    (IDENTIFIER this: full_name, quoted: False)), from:
  (FROM expressions:
    (TABLE this:
      (IDENTIFIER this: Accounts, quoted: False))))

[Formatting sql query using sqlglot]
SELECT
  first_name || COALESCE(' ' || middle_initial || ' ', ' ') || last_name AS full_name
FROM Accounts

[Optimizing sql query using sqlglot]
Optimization: optimize
SELECT
  "Accounts"."first_name" || COALESCE(' ' || "Accounts"."middle_initial" || ' ', ' ') || "Accounts"."last_name" AS "full_name"
FROM "Accounts" AS "Accounts"

[Style sql query use sqlfluff]
== [examples/example6.sql] FAIL
L:   2 | P:   1 | L003 | Expected 1 indentations, found 0 [compared to line 01]
L:   2 | P:  14 | L010 | Keywords must be consistently upper case.
L:   2 | P:  19 | L014 | Unquoted identifiers must be consistently lower case.
L:   2 | P:  27 | L009 | Files must end with a single trailing newline.
All Finished!


[Detecting anti-patterns using sqlcheck]
sqlcheck version 1.2.1
Debug build (NDEBUG not #defined)
+-------------------------------------------------+
|                   SQLCHECK                      |
+-------------------------------------------------+
> RISK LEVEL    :: ALL ANTI-PATTERNS
> SQL FILE NAME :: examples/example6.sql
> COLOR MODE    :: ENABLED
> VERBOSE MODE  :: ENABLED
> DELIMITER     :: ;
-------------------------------------------------
==================== Results ===================

-------------------------------------------------
SQL Statement at line 1: select first_name || coalesce(' ' || middle_initial || ' ', ' ') || last_name as
full_name from accounts;
[examples/example6.sql]: (LOW RISK) String Concatenation
● Use COALESCE for string concatenation of nullable columns:
You may need to force a column or expression to be non-null for the sake of
simplifying the query logic, but you don't want that value to be stored. Use
COALESCE function to construct the concatenated expression so that a null-valued
column doesn't make the whole expression become null. EX:
SELECT first_name || COALESCE(' ' || middle_initial || ' ', ' ') || last_name AS
full_name FROM Accounts;
[Matching Expression: || at lines 1, 1, 1, 1]


==================== Summary ===================
All Anti-Patterns and Hints  :: 1
>  High Risk   :: 0
>  Medium Risk :: 0
>  Low Risk    :: 1
>  Hints       :: 0


[Finding rules using lark]
swissql: error: no rule specified

In [143]:
!python -m swissql -h

usage: swissql [-h] -q Q -f F [-x] [-s S] [-F F]
               [-o {optimize,normalize,eliminate_subqueries,expand_multi_table_selects,isolate_table_selects,optimize_joins,pushdown_predicates,pushdown_projections,qualify_tables,qualify_columns,quote_identities,unnest_subqueries}]
               [-r R] [-c {syntax,format,optimize,style,anti_pattern,rule}]
               [--rules-sqlfluff RULES_SQLFLUFF] [--dialect DIALECT]
               [--output-mode {str,json}]
               {syntax,format,optimize,style,anti_pattern,rule,all,construct}

Spark SQL analytic engine

positional arguments:
  {syntax,format,optimize,style,anti_pattern,rule,all,construct}
                        mode of operation

optional arguments:
  -h, --help            show this help message and exit
  -q Q                  specify SQL query
  -f F                  specify file to read SQL query from
  -x                    specify if queries should be extracted from source
                        files
  -s S                  specify schema: Schema is a mapping in one of the
                        following forms: 1. {table: {col: type}} 2. {db:
                        {table: {col: type}}} 3. {catalog: {db: {table: {col:
                        type}}}} Example types: INT, STRING
  -F F                  specify schema file to read schema from
  -o {optimize,normalize,eliminate_subqueries,expand_multi_table_selects,isolate_table_selects,optimize_joins,pushdown_predicates,pushdown_projections,qualify_tables,qualify_columns,quote_identities,unnest_subqueries}
                        specify optimizers
  -r R                  specify rule files as list
  -c {syntax,format,optimize,style,anti_pattern,rule}
                        specify modes for analysis constructor
  --rules-sqlfluff RULES_SQLFLUFF
                        specify rules file for sqlfluff
  --dialect DIALECT     specify sqlfluff dialect
  --output-mode {str,json}
                        specify output format