In [22]:
%cd ..

/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer

In [37]:
!python -m swissql -h

usage: swissql [-h] -q Q -f F [-s S] [-F F]
               [-o {optimize,normalize,eliminate_subqueries,expand_multi_table_selects,isolate_table_selects,optimize_joins,pushdown_predicates,pushdown_projections,qualify_tables,qualify_columns,quote_identities,unnest_subqueries}]
               [-r {filter1.lark,all}] [--dialect DIALECT]
               [--output-mode {str,json}]
               {syntax,format,optimize,style,anti_pattern,extract,rule,all,style}

Spark SQL analytic engine

positional arguments:
  {syntax,format,optimize,style,anti_pattern,extract,rule,all,style}
                        mode of operation

optional arguments:
  -h, --help            show this help message and exit
  -q Q                  specify SQL query
  -f F                  specify file to read SQL query from
  -s S                  specify schema: Schema is a mapping in one of the
                        following forms: 1. {table: {col: type}} 2. {db:
                        {table: {col: type}}} 3. {catalog: {db: {table: {col:
                        type}}}} Example types: INT, STRING
  -F F                  specify schema file to read schema from
  -o {optimize,normalize,eliminate_subqueries,expand_multi_table_selects,isolate_table_selects,optimize_joins,pushdown_predicates,pushdown_projections,qualify_tables,qualify_columns,quote_identities,unnest_subqueries}
                        specify optimizers
  -r {filter1.lark,all}
                        specify rule file
  --dialect DIALECT     specify sqlfluff dialect
  --output-mode {str,json}
                        specify output format

In [75]:
# Общий случай - использование всех модулей
!python -m swissql all -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Generating syntax tree using sqlglot]
(SELECT expressions:
  (STAR ), from:
  (FROM expressions:
    (TABLE this:
      (IDENTIFIER this: x, quoted: False))), joins:
  (JOIN this:
    (TABLE this:
      (IDENTIFIER this: y, quoted: False)), on:
    (EQ this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: y, quoted: False)))), where:
  (WHERE this:
    (GT this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (LITERAL this: 2, is_string: False))))

[Formatting sql query using sqlglot]
SELECT
  *
FROM x
JOIN y
  ON x.id = y.id
WHERE
  x.id > 2

[Optimizing sql query using sqlglot]
Optimization: optimize
SELECT
  "x"."id" AS "id",
  "x"."name" AS "name",
  "y"."id" AS "id",
  "y"."name" AS "name"
FROM (
  SELECT
    "x"."id" AS "id",
    "x"."name" AS "name"
  FROM "x" AS "x"
  WHERE
    "x"."id" > 2
) AS "x"
JOIN (
  SELECT
    "y"."id" AS "id",
    "y"."name" AS "name"
  FROM "y" AS "y"
) AS "y"
  ON "x"."id" = "y"."id"

[Style sql query use sqlfluff]
Traceback (most recent call last):
  File "/home/quakumei/anaconda3/lib/python3.9/runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/home/quakumei/anaconda3/lib/python3.9/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/__main__.py", line 5, in <module>
    main_start()
  File "/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/main.py", line 5, in main_start
    ArgParser.choose_analyzer()
  File "/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/utils/exceptions.py", line 20, in wrapper
    return func(*args, **kwargs)
  File "/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/utils/argument_parser.py", line 201, in choose_analyzer
    cls.choose_analyzer(mode)
  File "/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/utils/exceptions.py", line 20, in wrapper
    return func(*args, **kwargs)
  File "/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/utils/argument_parser.py", line 147, in choose_analyzer
    rules=cls.args.rules,
AttributeError: 'Namespace' object has no attribute 'rules'

In [80]:
# Использование файла запроса и json файла схемы
!python -m swissql all -f examples/example0.sql -F examples/example0.schema.json -o optimize

[Generating syntax tree using sqlglot]
(SELECT expressions:
  (COLUMN this:
    (IDENTIFIER this: id, quoted: False), table:
    (IDENTIFIER this: x, quoted: False)),
  (COLUMN this:
    (IDENTIFIER this: name, quoted: False), table:
    (IDENTIFIER this: x, quoted: False)),
  (COLUMN this:
    (IDENTIFIER this: name, quoted: False), table:
    (IDENTIFIER this: y, quoted: False)), from:
  (FROM expressions:
    (TABLE this:
      (IDENTIFIER this: x, quoted: False))), joins:
  (JOIN this:
    (TABLE this:
      (IDENTIFIER this: y, quoted: False)), on:
    (EQ this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: y, quoted: False)))), where:
  (WHERE this:
    (GT this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (LITERAL this: 2, is_string: False))))

[Formatting sql query using sqlglot]
SELECT
  x.id,
  x.name,
  y.name
FROM x
JOIN y
  ON x.id = y.id
WHERE
  x.id > 2

[Optimizing sql query using sqlglot]
Optimization: optimize
SELECT
  "x"."id" AS "id",
  "x"."name" AS "name",
  "y"."name" AS "name"
FROM (
  SELECT
    "x"."id" AS "id",
    "x"."name" AS "name"
  FROM "x" AS "x"
  WHERE
    "x"."id" > 2
) AS "x"
JOIN (
  SELECT
    "y"."id" AS "id",
    "y"."name" AS "name"
  FROM "y" AS "y"
) AS "y"
  ON "x"."id" = "y"."id"

[Style sql query use sqlfluff]
== [examples/example0.sql] FAIL
L:   1 | P:   1 | L036 | Select targets should be on a new line unless there is
                       | only one select target.
L:   1 | P:  29 | L010 | Keywords must be consistently upper case.
L:   1 | P:  36 | L010 | Keywords must be consistently upper case.
L:   1 | P:  36 | L051 | Join clauses should be fully qualified.
L:   1 | P:  43 | L010 | Keywords must be consistently upper case.
L:   1 | P:  58 | L010 | Keywords must be consistently upper case.
L:   1 | P:  72 | L009 | Files must end with a single trailing newline.
All Finished!


[Detecting anti-patterns using sqlcheck]
sqlcheck version 1.2.1
Debug build (NDEBUG not #defined)
+-------------------------------------------------+
|                   SQLCHECK                      |
+-------------------------------------------------+
> RISK LEVEL    :: ALL ANTI-PATTERNS
> SQL FILE NAME :: examples/example0.sql
> COLOR MODE    :: ENABLED
> VERBOSE MODE  :: ENABLED
> DELIMITER     :: ;
-------------------------------------------------
==================== Results ===================
No issues found.


[Finding rules using lark]
swissql: error: no rule specified

In [27]:
# Использование отдельного модуля - SyntaxTree
!python -m swissql syntax -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Generating syntax tree using sqlglot]
(SELECT expressions:
  (STAR ), from:
  (FROM expressions:
    (TABLE this:
      (IDENTIFIER this: x, quoted: False))), joins:
  (JOIN this:
    (TABLE this:
      (IDENTIFIER this: y, quoted: False)), on:
    (EQ this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: y, quoted: False)))), where:
  (WHERE this:
    (GT this:
      (COLUMN this:
        (IDENTIFIER this: id, quoted: False), table:
        (IDENTIFIER this: x, quoted: False)), expression:
      (LITERAL this: 2, is_string: False))))

In [28]:
# Использование отдельного модуля - Formatting
!python -m swissql format -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Formatting sql query using sqlglot]
SELECT
  *
FROM x
JOIN y
  ON x.id = y.id
WHERE
  x.id > 2

In [29]:
# Использование отдельного модуля - Style
!python -m swissql style -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Style sql query use sqlfluff]
/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/analyzers/style/intermediate.sql
== [/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/swissql/analyzers/style/intermediate.sql] FAIL
L:   1 | P:   1 | L044 | Query produces an unknown number of result columns.
L:   1 | P:   8 | L027 | Unqualified reference '*' found in select with more than
                       | one referenced table/view.
L:   1 | P:  10 | L010 | Keywords must be consistently upper case.
L:   1 | P:  17 | L010 | Keywords must be consistently upper case.
L:   1 | P:  17 | L051 | Join clauses should be fully qualified.
L:   1 | P:  24 | L010 | Keywords must be consistently upper case.
L:   1 | P:  39 | L010 | Keywords must be consistently upper case.
L:   1 | P:  53 | L009 | Files must end with a single trailing newline.
All Finished!

In [30]:
# Использование отдельного модуля - Anti_Pattern
!python -m swissql anti_pattern -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Detecting anti-patterns using sqlcheck]
sqlcheck version 1.2.1
Debug build (NDEBUG not #defined)
+-------------------------------------------------+
|                   SQLCHECK                      |
+-------------------------------------------------+
> RISK LEVEL    :: ALL ANTI-PATTERNS
> SQL FILE NAME :: temp.sql
> COLOR MODE    :: ENABLED
> VERBOSE MODE  :: ENABLED
> DELIMITER     :: ;
-------------------------------------------------
==================== Results ===================

-------------------------------------------------
SQL Statement at line 1: select * from x join y on x.id = y.id where x.id > 2;
[temp.sql]: (HIGH RISK) SELECT *
● Inefficiency in moving data to the consumer:
When you SELECT *, you're often retrieving more columns from the database than
your application really needs to function. This causes more data to move from
the database server to the client, slowing access and increasing load on your
machines, as well as taking more time to travel across the network. This is
especially true when someone adds new columns to underlying tables that didn't
exist and weren't needed when the original consumers coded their data access.


● Indexing issues:
Consider a scenario where you want to tune a query to a high level of
performance. If you were to use *, and it returned more columns than you
actually needed, the server would often have to perform more expensive methods
to retrieve your data than it otherwise might. For example, you wouldn't be able
to create an index which simply covered the columns in your SELECT list, and
even if you did (including all columns [shudder]), the next guy who came around
and added a column to the underlying table would cause the optimizer to ignore
your optimized covering index, and you'd likely find that the performance of
your query would drop substantially for no readily apparent reason.

● Binding
Problems:
When you SELECT *, it's possible to retrieve two columns of the same name from
two different tables. This can often crash your data consumer. Imagine a query
that joins two tables, both of which contain a column called "ID". How would a
consumer know which was which? SELECT * can also confuse views (at least in some
versions SQL Server) when underlying table structures change -- the view is not
rebuilt, and the data which comes back can be nonsense. And the worst part of it
is that you can take care to name your columns whatever you want, but the next
guy who comes along might have no way of knowing that he has to worry about
adding a column which will collide with your already-developed names.
[Matching Expression: select * at line 1]


==================== Summary ===================
All Anti-Patterns and Hints  :: 1
>  High Risk   :: 1
>  Medium Risk :: 0
>  Low Risk    :: 0
>  Hints       :: 0

In [31]:
# Использование отдельного модуля - Optimize
!python -m swissql optimize -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Optimizing sql query using sqlglot]
Optimization: optimize
SELECT
  "x"."id" AS "id",
  "x"."name" AS "name",
  "y"."id" AS "id",
  "y"."name" AS "name"
FROM (
  SELECT
    "x"."id" AS "id",
    "x"."name" AS "name"
  FROM "x" AS "x"
  WHERE
    "x"."id" > 2
) AS "x"
JOIN (
  SELECT
    "y"."id" AS "id",
    "y"."name" AS "name"
  FROM "y" AS "y"
) AS "y"
  ON "x"."id" = "y"."id"

In [33]:
# Поддержка подсветки ошибок в консоли
# Использование отдельного модуля - Optimize
!python -m swissql syntax -q "SELET *" -s '{"x":{"id":"}}'

[Generating syntax tree using sqlglot]
swissql: error: Spark SQL parse error

#### Использование пользовательских правил с помощью Lark и BNF файлов

In [73]:
!ls rules

filter1.lark  filter2.lark

In [74]:
!cat rules/filter2.lark

SELECT WILDCARD ANTIPATTERN :END_OF_COMMENT:
start: /./ start | pattern start | /./ | pattern
pattern: "SELECT *"i
%import common.INT
//%ignore " "
%ignore "\n"

In [72]:
# Использование отдельного модусля - Rules
!python -m swissql rule -r all -q "SELECT * from x join y on x.id = y.id where x.id > 2" -s '{"x":{"id":"INT", "name":"STRING"},"y":{"id":"INT","name":"STRING"}}' -o optimize

[Finding rules using lark]
Rule filter2.lark found:
Positions: (1, 1)
Comment: SELECT WILDCARD ANTIPATTERN

### Extract SQL from Python

In [88]:
import os
os.path.abspath('examples/example3.py')

'/home/quakumei/Workspace/Code/sparkySQL/SparkSQL-Analyzer/examples/example3.py'

In [97]:
# Использование отдельного модусля - Swissql extractor
from swissql.analyzers.rule_checker.sql_finder import SqlFinder
SqlFinder.initialize()
print(SqlFinder.extract_sql_from_file('examples/example3.py'))

Error: